#Temp folders
tmp/
#db_repository: not sure if this should be ignored...
db_repository/

#Python Files
*.py[cod]
__pycache__/

#VirtualEnv
venv/

#Vim Files
.*.un~
.*.swp

#IDEA files
.idea/

#MTG Json Card DB (for now)
AllSets.json

#System Files
.DS_Store

