{% extends 'layout.html' %}
{% block container %}
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <h1>{{ event.league|safe }} <i class="fa fa-chevron-right"></i> {{ event }}</h1>
        </div>
        {% if not event.is_participant(current_user) %}
        <div class="row">
            <a class="btn btn-default" href="{{ url_for('event_join', eid=event.id) }}">Join Event</a>
        </div>
        {% endif %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Stage</th><th>Start Date</th><th>End Date</th><th></th>
                </tr>
                </thead>
                {% for stage in event.stages %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ stage.start_date }}</td>
                    <td>{{ stage.end_date }}</td>
                    <td><a class="btn btn-default" href="{{ url_for('submit_match', sid=stage.id) }}">Submit Match Results</a></td>
                </tr>
                {% endfor %}
            </table>
            <h1>Participants</h1>
            {% for participant in event.participants %}
            <div class="row">
                <p>{{ participant.user }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}