{% import 'wtf.html' as wtf %}

{% extends 'layout.html' %}
{% block container %}
<br/>
<br/>
<div class="row">
    <form class="form form-horizontal" method="post" role="form">
        <div class="col-md-offset-3 col-md-6">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{ wtf.form_field(form.name) }}
            {% for stage in form.stages%}
                {{ stage.hidden_tag() }}
                {{ wtf.form_field(stage) }}
            {% endfor %}
            {{ wtf.form_field(form.submit) }}
        </div>
    </form>
</div>
{% endblock %}
