{% extends 'layout.html' %}
{% block container %}
<div class="row">
    <div class="col-md-9">
        <h1>{{league.name}} <a href="{{ url_for('league_edit', lid=league.id) }}"><i class="fa fa-edit fa-sm"></i></a></h1>
    </div>
    <div class="col-md-3">
        {% if not is_member %}
        <a class="btn btn-default" href="{{ url_for('league_join', lid=league.id) }}">Join</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <div class="row">
            <h3>Creator</h3>
        </div>
        {% for owner in league.get_owners() %}
        <div class="row">
            <p>{{ owner.name }}</p>
        </div>
        {% endfor %}
        {% if league.get_moderators() %}
        <div class="row">
            <h3>Moderators</h3>
        </div>
        {% for mod in league.get_moderators() %}
        <div class="row">
            <p>{{ mod.name }}</p>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <h3>Members</h3>
        </div>
        {% for member in league.get_members() %}
        <div class="row">
            <p>{{ member.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
