{% extends 'layout.html' %}
{% block container %}
<div class="row">
    <div class="col-md-9">
        <h1>{{league.name}} <a href="{{ url_for('league_edit', lid=league.id) }}"><i class="fa fa-edit fa-sm"></i></a></h1>
    </div>
    <div class="col-md-3">
        {% if not is_member %}
        <a class="btn btn-default" href="{{ url_for('league_join', lid=league.id) }}">Join</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        {% if not current_user.is_anonymous() and league.editable_by_user(current_user) %}
        <div class="row">
            <a class="btn btn-default" href="{{ url_for('event_create', lid=league.id) }}">Create New Event</a>
        </div>
        {% endif %}
        <div class="row">
            <h3>Events Running Now:</h3>
        </div>
        <table class="table">
            <tr>
                <th>Name</th><th>Start Date</th><th>End Date</th>
            </tr>
            {% for event in league.current_events() %}
            <tr>
                <td>{{ event }}</td>
                <td>{{ event.get_start_date() }}</td>
                <td>{{ event.get_end_date() }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            <h3>Upcoming Events:</h3>
        </div>
        <table class="table">
            <tr>
                <th>Name</th><th>Start Date</th><th>End Date</th>
            </tr>
            {% for event in league.upcoming_events() %}
            <tr>
                <td>{{ event }}</td>
                <td>{{ event.get_start_date() }}</td>
                <td>{{ event.get_end_date() }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            <h3>Past Events:</h3>
        </div>
        <table class="table">
            <tr>
                <th>Name</th><th>Start Date</th><th>End Date</th>
            </tr>
            {% for event in league.past_events() %}
            <tr>
                <td>{{ event }}</td>
                <td>{{ event.get_start_date() }}</td>
                <td>{{ event.get_end_date() }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            <h1>Announcements</h1>
        </div>
        {% for post in league.posts %}
        <div class="row">
            <h2>{{ post.title }}</h2>
        </div>
        <div class="row">
            <p>{{ post.body}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="row">
            <h3>Creator</h3>
        </div>
        {% for owner in league.get_owners() %}
        <div class="row">
            <p>{{ owner.name }}</p>
        </div>
        {% endfor %}
        {% if league.get_moderators() %}
        <div class="row">
            <h3>Moderators</h3>
        </div>
        {% for mod in league.get_moderators() %}
        <div class="row">
            <p>{{ mod.name }}</p>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <h3>Members</h3>
        </div>
        {% for member in league.get_members() %}
        <div class="row">
            <p>{{ member.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
