{% extends 'layout.html' %}
{% block container %}
<div class="row">
    <div class="col-md-9">
        <h1>{{league.name}}</h1>
    </div>
    <div class="col-md-3">
        {% if not is_member %}
        <a class="btn btn-default" href="{{ url_for('league_join', lid=league.id) }}">Join</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <div class="row">
            <h3>Creator</h3>
        </div>
        <div class="row">
            <p>{{ league.creator }}</p>
        </div>
        <div class="row">
            <h3>Members</h3>
        </div>
        {% for member in members %}
        <div class="row">
            <p>{{ member.user.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
